{% extends "index_db.html" %}

{%  load static %}

{% block content %}


     <div class="row">
                <div class="col-lg-10">
                    <h4 class="page-header"> Графическое представление автоматизированных наблюдений за уровнем воды</h4>
                    <h5 class="panel-title"> АГС {{ ags }}  </h5>
                    <p>   </p>
                </div>
                <div class="col-lg-1 text-center">


                <!-- /.col-lg-12 -->
                </div>

          <div class="col-lg-12">

   <a role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           Выбор станции АГС из списка <span class="caret"></span>
    </a>



    <ul class="dropdown-menu">

      {% for station in stations %}
      <li role="presentation"> <a href="{% url 'graphs' station.id_station  %}"> {{ station.description }}  </a> </li>
      <li class="divider"></li>
      {% endfor %}

  </ul>



    </ul>
  </a>
     </div>



    <div class="col-lg-12">


     </div>


  </div>



    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/highcharts.js" type="text/javascript"></script>



    {% load chartit %}

    {{ dtchart|load_charts:"container" }}



      {{ dtchart|load_charts:"chart-A,chart-B" }}

     <div id='chart-A' class="-area-chart" >  </div>

     <div id='chart-B' class="-area-chart" >  </div>




<body>

</body>

{% endblock %}



